.vscode/**
.vscode-test/**
src/**
test/**
tsconfig.json
.gitignore
node_modules/**
!node_modules/markdown-it/**
!node_modules/argparse/**
!node_modules/entities/**
!node_modules/linkify-it/**
!node_modules/mdurl/**
!node_modules/punycode.js/**
!node_modules/uc.micro/**
**/*.map
**/*.ts
.github/**
!node_modules/katex/package.json
!node_modules/katex/dist/katex.js
!node_modules/katex/dist/katex.min.css
!node_modules/katex/dist/fonts/**
!node_modules/highlight.js/package.json
!node_modules/highlight.js/lib/**
scripts/**
test/**
.github/**
queracode.vsix
repo-fork/**
**/*.pdf
